$colorPrimary = rgb(99, 159, 255);
$colorWhite = white;
$colorOrange = rgb(247, 101, 17);
$colorOrangeDark = rgb(175, 71, 10);

$colorPomegranate = #f0301e;

$colorTextLight = white;

$spacingBase = 1.5rem